In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("bank.csv", sep=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
df=pd.read_excel("Book1.xlsx")
df.month
df[['age','month']]
df.loc[3,'job']
df.loc[3,'age':'default']
df[df['day']>10]
df['hieu'] = df['age'] + df['day']
df.value_counts('month')

month
may    6
jun    3
apr    2
nov    2
aug    1
dec    1
feb    1
jul    1
mar    1
oct    1
dtype: int64

In [8]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,?,no,no,cellular,19,oct,"$1723,90",1,-1,0,unknown,no,49
1,33,services,married,secondary,no,4789k,yes,yes,cellular,11,may,"$9102,09",1,339,4,failure,no,44
2,35,management,single,tertiary,no,9180k,yes,no,cellular,16,apr,"$9102,09",1,330,1,failure,no,51
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,3,jun,"$9102,09",4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,"$919,09",1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,"$9102,09",2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,14,may,"$1723,90",1,330,2,other,no,50
7,39,technician,married,secondary,no,?,yes,no,cellular,6,may,"$9102,09",2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,14,may,"$9102,09",2,-1,0,unknown,no,55
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,"$9102,09",1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,"$9102,09",2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,2764,no,no,cellular,24,dec,"$9102,09",1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,"$9102,09",8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,8023,no,no,cellular,30,nov,"$9102,09",1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,21,may,"$9102,09",13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0,no,no,cellular,18,mar,"$9102,09",10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,"$9102,09",1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,18,nov,"$9102,09",1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,3,jun,"$9102,09",5,-1,0,unknown,no,44

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        19 non-null     int64
 1   job        19 non-null     object
 2   marital    19 non-null     object
 3   education  19 non-null     object
 4   default    19 non-null     object
 5   balance    16 non-null     object
 6   housing    19 non-null     object
 7   loan       19 non-null     object
 8   contact    19 non-null     object
 9   day        19 non-null     int64
 10  month      19 non-null     object
 11  duration   19 non-null     object
 12  campaign   19 non-null     int64
 13  pdays      19 non-null     int64
 14  previous   19 non-null     int64
 15  poutcome   19 non-null     object
 16  y          19 non-null     object
 17  hieu       19 non-null     int64
dtypes: int64(6), object(12)
memory usage: 2.8+ KB

In [10]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,?,no,no,cellular,19,oct,"$1723,90",1,-1,0,unknown,no,49
1,33,services,married,secondary,no,4789k,yes,yes,cellular,11,may,"$9102,09",1,339,4,failure,no,44
2,35,management,single,tertiary,no,9180k,yes,no,cellular,16,apr,"$9102,09",1,330,1,failure,no,51
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,3,jun,"$9102,09",4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,"$919,09",1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,"$9102,09",2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,14,may,"$1723,90",1,330,2,other,no,50
7,39,technician,married,secondary,no,?,yes,no,cellular,6,may,"$9102,09",2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,14,may,"$9102,09",2,-1,0,unknown,no,55
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,"$9102,09",1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,"$9102,09",2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,2764,no,no,cellular,24,dec,"$9102,09",1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,"$9102,09",8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,8023,no,no,cellular,30,nov,"$9102,09",1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,21,may,"$9102,09",13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0,no,no,cellular,18,mar,"$9102,09",10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,"$9102,09",1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,18,nov,"$9102,09",1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,3,jun,"$9102,09",5,-1,0,unknown,no,44

In [11]:
#cac gia tri khac nhau trong cot balance
df['balance'].unique()

array(['?', '4789k', '9180k', '6172k', 0, 747, -88, nan, 2764, 8023, 289,
       280, 2195], dtype=object)

In [12]:
df['balance'].value_counts()

?        4
0        2
4789k    1
9180k    1
6172k    1
747      1
-88      1
2764     1
8023     1
289      1
280      1
2195     1
Name: balance, dtype: int64

In [13]:
df['balance'].value_counts(dropna=False)

?        4
NaN      3
0        2
4789k    1
9180k    1
6172k    1
747      1
-88      1
2764     1
8023     1
289      1
280      1
2195     1
Name: balance, dtype: int64

In [14]:
#kiem tra dong bi trung
df.duplicated().sum()

0

In [15]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,?,no,no,cellular,19,oct,"$1723,90",1,-1,0,unknown,no,49
1,33,services,married,secondary,no,4789k,yes,yes,cellular,11,may,"$9102,09",1,339,4,failure,no,44
2,35,management,single,tertiary,no,9180k,yes,no,cellular,16,apr,"$9102,09",1,330,1,failure,no,51
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,3,jun,"$9102,09",4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,"$919,09",1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,"$9102,09",2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,14,may,"$1723,90",1,330,2,other,no,50
7,39,technician,married,secondary,no,?,yes,no,cellular,6,may,"$9102,09",2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,14,may,"$9102,09",2,-1,0,unknown,no,55
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,"$9102,09",1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,"$9102,09",2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,2764,no,no,cellular,24,dec,"$9102,09",1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,"$9102,09",8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,8023,no,no,cellular,30,nov,"$9102,09",1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,21,may,"$9102,09",13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0,no,no,cellular,18,mar,"$9102,09",10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,"$9102,09",1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,18,nov,"$9102,09",1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,3,jun,"$9102,09",5,-1,0,unknown,no,44

In [16]:
#bo dau # va dau ','
df["duration"]= df["duration"].apply(lambda x : x.replace('$',''))
df["duration"]= df["duration"].apply(lambda x : x.replace(',',''))
df
df['duration'].dtype

dtype('O')

In [17]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,?,no,no,cellular,19,oct,172390,1,-1,0,unknown,no,49
1,33,services,married,secondary,no,4789k,yes,yes,cellular,11,may,910209,1,339,4,failure,no,44
2,35,management,single,tertiary,no,9180k,yes,no,cellular,16,apr,910209,1,330,1,failure,no,51
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,3,jun,910209,4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,91909,1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,910209,2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,14,may,172390,1,330,2,other,no,50
7,39,technician,married,secondary,no,?,yes,no,cellular,6,may,910209,2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,14,may,910209,2,-1,0,unknown,no,55
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,910209,1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,910209,2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,2764,no,no,cellular,24,dec,910209,1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,910209,8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,8023,no,no,cellular,30,nov,910209,1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,21,may,910209,13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0,no,no,cellular,18,mar,910209,10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,910209,1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,18,nov,910209,1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,3,jun,910209,5,-1,0,unknown,no,44

In [18]:
df['balance'].dtype

dtype('O')

In [19]:
df['balance'].unique()

array(['?', '4789k', '9180k', '6172k', 0, 747, -88, nan, 2764, 8023, 289,
       280, 2195], dtype=object)

In [20]:
df["balance"].replace(['4789k', '9180k', '6172k'],[4789000, 9180000, 6172000], inplace = True)
df
df["balance"].dtype

dtype('O')

In [21]:
df["balance"].replace(['?'],[4789000], inplace = True)

In [22]:
#chuyen kieu du lieu cot balance: object sang float
df["balance"]=df['balance'].astype('float')
df['balance'].dtype

dtype('float64')

In [23]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,4789000.0,no,no,cellular,19,oct,172390,1,-1,0,unknown,no,49
1,33,services,married,secondary,no,4789000.0,yes,yes,cellular,11,may,910209,1,339,4,failure,no,44
2,35,management,single,tertiary,no,9180000.0,yes,no,cellular,16,apr,910209,1,330,1,failure,no,51
3,30,management,married,tertiary,no,6172000.0,yes,yes,unknown,3,jun,910209,4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0.0,yes,no,unknown,5,may,91909,1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,747.0,no,no,cellular,23,feb,910209,2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,4789000.0,yes,no,cellular,14,may,172390,1,330,2,other,no,50
7,39,technician,married,secondary,no,4789000.0,yes,no,cellular,6,may,910209,2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,4789000.0,yes,no,unknown,14,may,910209,2,-1,0,unknown,no,55
9,43,services,married,primary,no,-88.0,yes,yes,cellular,17,apr,910209,1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,910209,2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,2764.0,no,no,cellular,24,dec,910209,1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,910209,8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,8023.0,no,no,cellular,30,nov,910209,1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,289.0,yes,no,unknown,21,may,910209,13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0.0,no,no,cellular,18,mar,910209,10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,910209,1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,280.0,no,yes,cellular,18,nov,910209,1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,2195.0,yes,no,unknown,3,jun,910209,5,-1,0,unknown,no,44

In [24]:
#bien doi du lieu
df = df.rename(columns={'balance': 'balance ($)'})
df['balance ($)'] = df['balance ($)'].apply(lambda x : x/10)
df

,age,job,marital,education,default,balance ($),housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,478900.0,no,no,cellular,19,oct,172390,1,-1,0,unknown,no,49
1,33,services,married,secondary,no,478900.0,yes,yes,cellular,11,may,910209,1,339,4,failure,no,44
2,35,management,single,tertiary,no,918000.0,yes,no,cellular,16,apr,910209,1,330,1,failure,no,51
3,30,management,married,tertiary,no,617200.0,yes,yes,unknown,3,jun,910209,4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0.0,yes,no,unknown,5,may,91909,1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,74.7,no,no,cellular,23,feb,910209,2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,478900.0,yes,no,cellular,14,may,172390,1,330,2,other,no,50
7,39,technician,married,secondary,no,478900.0,yes,no,cellular,6,may,910209,2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,478900.0,yes,no,unknown,14,may,910209,2,-1,0,unknown,no,55
9,43,services,married,primary,no,-8.8,yes,yes,cellular,17,apr,910209,1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,910209,2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,276.4,no,no,cellular,24,dec,910209,1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,910209,8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,802.3,no,no,cellular,30,nov,910209,1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,28.9,yes,no,unknown,21,may,910209,13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0.0,no,no,cellular,18,mar,910209,10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,910209,1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,28.0,no,yes,cellular,18,nov,910209,1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,219.5,yes,no,unknown,3,jun,910209,5,-1,0,unknown,no,44

In [25]:
#bien doi du lieu
df = df.rename(columns={'balance': 'balance ($)'})
df['balance ($)'] = df['balance ($)'].apply(lambda x : x/10)
df

,age,job,marital,education,default,balance ($),housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,hieu
0,30,unemployed,married,primary,no,47890.00,no,no,cellular,19,oct,172390,1,-1,0,unknown,no,49
1,33,services,married,secondary,no,47890.00,yes,yes,cellular,11,may,910209,1,339,4,failure,no,44
2,35,management,single,tertiary,no,91800.00,yes,no,cellular,16,apr,910209,1,330,1,failure,no,51
3,30,management,married,tertiary,no,61720.00,yes,yes,unknown,3,jun,910209,4,-1,0,unknown,no,33
4,59,blue-collar,married,secondary,no,0.00,yes,no,unknown,5,may,91909,1,-1,0,unknown,no,64
5,35,management,single,tertiary,no,7.47,no,no,cellular,23,feb,910209,2,176,3,failure,no,58
6,36,self-employed,married,tertiary,no,47890.00,yes,no,cellular,14,may,172390,1,330,2,other,no,50
7,39,technician,married,secondary,no,47890.00,yes,no,cellular,6,may,910209,2,-1,0,unknown,no,45
8,41,entrepreneur,married,tertiary,no,47890.00,yes,no,unknown,14,may,910209,2,-1,0,unknown,no,55
9,43,services,married,primary,no,-0.88,yes,yes,cellular,17,apr,910209,1,147,2,failure,no,60
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,910209,2,-1,0,unknown,no,74
11,59,management,married,tertiary,no,27.64,no,no,cellular,24,dec,910209,1,206,2,failure,no,83
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,910209,8,-1,0,unknown,yes,55
13,33,technician,married,tertiary,no,80.23,no,no,cellular,30,nov,910209,1,105,3,failure,no,63
14,52,blue-collar,married,secondary,no,2.89,yes,no,unknown,21,may,910209,13,-1,0,unknown,no,73
15,83,retired,married,secondary,no,0.00,no,no,cellular,18,mar,910209,10,-1,0,unknown,no,101
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,910209,1,-1,0,unknown,yes,67
17,33,management,divorced,tertiary,yes,2.80,no,yes,cellular,18,nov,910209,1,-1,0,unknown,no,51
18,41,blue-collar,divorced,primary,no,21.95,yes,no,unknown,3,jun,910209,5,-1,0,unknown,no,44

In [28]:
#chuan hoa min max
from sklearn.preprocessing import MinMaxScaler
#load đata
df=pd.read_excel("Book1.xlsx")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,?,no,no,cellular,19,oct,"$1723,90",1,-1,0,unknown,no
1,33,services,married,secondary,no,4789k,yes,yes,cellular,11,may,"$9102,09",1,339,4,failure,no
2,35,management,single,tertiary,no,9180k,yes,no,cellular,16,apr,"$9102,09",1,330,1,failure,no
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,3,jun,"$9102,09",4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,"$919,09",1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,"$9102,09",2,176,3,failure,no
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,14,may,"$1723,90",1,330,2,other,no
7,39,technician,married,secondary,no,?,yes,no,cellular,6,may,"$9102,09",2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,14,may,"$9102,09",2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,"$9102,09",1,147,2,failure,no
10,45,technician,married,secondary,no,NaN,no,no,cellular,29,aug,"$9102,09",2,-1,0,unknown,no
11,59,management,married,tertiary,no,2764,no,no,cellular,24,dec,"$9102,09",1,206,2,failure,no
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,25,jul,"$9102,09",8,-1,0,unknown,yes
13,33,technician,married,tertiary,no,8023,no,no,cellular,30,nov,"$9102,09",1,105,3,failure,no
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,21,may,"$9102,09",13,-1,0,unknown,no
15,83,retired,married,secondary,no,0,no,no,cellular,18,mar,"$9102,09",10,-1,0,unknown,no
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,9,jun,"$9102,09",1,-1,0,unknown,yes
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,18,nov,"$9102,09",1,-1,0,unknown,no
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,3,jun,"$9102,09",5,-1,0,unknown,no

In [32]:
#tạo scaler
scaler = MinMaxScaler(feature_range=(1,5))
model=scaler.fit(df[["day"]])
df["day"]= model.transform(df[["day"]])
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,?,no,no,cellular,3.370370,oct,"$1723,90",1,-1,0,unknown,no
1,33,services,married,secondary,no,4789k,yes,yes,cellular,2.185185,may,"$9102,09",1,339,4,failure,no
2,35,management,single,tertiary,no,9180k,yes,no,cellular,2.925926,apr,"$9102,09",1,330,1,failure,no
3,30,management,married,tertiary,no,6172k,yes,yes,unknown,1.000000,jun,"$9102,09",4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,1.296296,may,"$919,09",1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,3.962963,feb,"$9102,09",2,176,3,failure,no
6,36,self-employed,married,tertiary,no,?,yes,no,cellular,2.629630,may,"$1723,90",1,330,2,other,no
7,39,technician,married,secondary,no,?,yes,no,cellular,1.444444,may,"$9102,09",2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,?,yes,no,unknown,2.629630,may,"$9102,09",2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,3.074074,apr,"$9102,09",1,147,2,failure,no
10,45,technician,married,secondary,no,NaN,no,no,cellular,4.851852,aug,"$9102,09",2,-1,0,unknown,no
11,59,management,married,tertiary,no,2764,no,no,cellular,4.111111,dec,"$9102,09",1,206,2,failure,no
12,30,management,single,tertiary,no,NaN,yes,yes,cellular,4.259259,jul,"$9102,09",8,-1,0,unknown,yes
13,33,technician,married,tertiary,no,8023,no,no,cellular,5.000000,nov,"$9102,09",1,105,3,failure,no
14,52,blue-collar,married,secondary,no,289,yes,no,unknown,3.666667,may,"$9102,09",13,-1,0,unknown,no
15,83,retired,married,secondary,no,0,no,no,cellular,3.222222,mar,"$9102,09",10,-1,0,unknown,no
16,58,self-employed,divorced,tertiary,no,NaN,no,no,unknown,1.888889,jun,"$9102,09",1,-1,0,unknown,yes
17,33,management,divorced,tertiary,yes,280,no,yes,cellular,3.222222,nov,"$9102,09",1,-1,0,unknown,no
18,41,blue-collar,divorced,primary,no,2195,yes,no,unknown,1.000000,jun,"$9102,09",5,-1,0,unknown,no

In [37]:
#quay ve gia tri cu
inverse = model.inverse_transform(df[['day']])
print(inverse)

[[19.]
 [11.]
 [16.]
 [ 3.]
 [ 5.]
 [23.]
 [14.]
 [ 6.]
 [14.]
 [17.]
 [29.]
 [24.]
 [25.]
 [30.]
 [21.]
 [18.]
 [ 9.]
 [18.]
 [ 3.]]

In [34]:
#Ordinal encoding
#chuyen đặc chưng ordinal sang number
from sklearn.preprocessing import OrdinalEncoder
Data = pd.read_excel("Book1.xlsx")

In [38]:
Data['default'].value_counts()

no     18
yes     1
Name: default, dtype: int64

In [41]:
oe = OrdinalEncoder(categories=[['no','yes']])

In [2]:
df

NameError: name 'df' is not defined

In [3]:
df=pd.read_csv("bank.csv", sep=";")
df.head()

NameError: name 'pd' is not defined